nav {
  height: 100px;
  width: 85%;
  margin-top: -110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  h3 {
    color: $primary-color;
  }

  p {
    height: 60%;
    width: 95%;
    margin-bottom: 30px;
    margin-top: -10px;
  }
}
